{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <h2>Log in to your account.</h2>
{% endblock page_header %}

{% block content %}


    <form class="form" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button class="btn btn-primary" name="submit">Log In</button>
        {% endbuttons %}

        <!--If the log in is successful take the user to their topics page-->
        <input type="hidden" value="{% url 'learning_logs:topics' %}"
        name="next"/>
    </form>

{% endblock content %}
